{% extends 'serwis/base.html' %}
{% load bootstrap %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-xl-6 col-md-6">
            <h5><strong>Zaloguj się</strong></h5>
            <hr class="red title-hr">
            <form method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="md-form md-outline">
                    <label for="id_username">Użytkownik</label>
                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class=" form-control" required="" id="id_username" placeholder="Użytkownik">
                </div>
                <div class="md-form md-outline">
                    <input type="password" name="password" autocomplete="current-password" class=" form-control" required="" id="id_password" placeholder="Hasło">
                    <label for="id_password">Hasło</label>
                </div>
                <div class="md-form md-outline">
                    <button type="submit" class="btn btn-outline-primary waves-effect btn-sm">Zaloguj <i class="fas fa-save fa-lg"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}