{% extends 'serwis/base.html' %}
{% load bootstrap %}
{% block content %}

            <div class="row justify-content-md-center">
                <div class="col-xl-6 col-md-6">
                    <h5><strong>Zgłoszenie nr #{{ wpis.id }}</strong></h5>
                    <hr class="red title-hr">
                    <h4>Czy napewno chcesz usunąć zgłoszenie:</h4> <h2>{{ wpis.temat_zgloszenia }} ??</h2>
                    <form method="POST" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" id="data_wpisu_text" name="data_zamkniecia" value={{ data_zamkniecia }}>
                            <input type="hidden" id="czas_wpisu_text" name="czas_zamkniecia" value={{ czas_zamkniecia }}>
                            <button type="submit" class="btn btn-outline-danger waves-effect btn-sm">Tak <i class="far fa-check-square"></i></button>
                            <a class="btn btn-outline-success waves-effect btn-sm" href="/" role="button">Nie <i class="fas fa-times"></i></a>
                        </div>
                    </form>
                </div>
            </div>

{% endblock content %}