{% load static %}
    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'MDB-Pro_4.19.2/js/jquery.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'MDB-Pro_4.19.2/js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'MDB-Pro_4.19.2/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'MDB-Pro_4.19.2/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'MDB-Pro_4.19.2/js/addons/datatables.min.js' %}"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">

        $(document).ready(function() {
            // SideNav Button Initialization
            $(".button-collapse").sideNav2();
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            formatSubmit: 'yyyy-mm-dd'
        });

        $('#date_timepicker_end').datepicker({
            dateFormat: 'dd-mm-yyyy' //any valid format that you want to have
        });

        $(document).ready(function () {
            $('#dtUsterki').DataTable({
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $('#dtWpisy').DataTable({
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $('#dtNoweWpisy').DataTable({
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $('#dtOtwarteWpisy').DataTable({
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $('#dtTwojeWpisy_serwis').DataTable({
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function () {
            $('#dtTwojeWpisy_autor').DataTable({
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).ready(function() {
            $('.mdb-select').materialSelect();
            $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
                $(this).closest('.select-outline').find('label').toggleClass('active');
                $(this).closest('.select-outline').find('.caret').toggleClass('active');
            });
        });

        // Material Select Destroy
        $('.mdb-select').materialSelect({
            destroy: true
        });

    </script>