{% extends 'serwis/base.html' %}
{% load bootstrap %}
{% block content %}
    <div class="card col-md-12 my-1 mx-auto text-white green darken-1">
        <div class="card-body">
            <h2>Zgłoszenie nr #{{ zgloszenia.id }}</h2>
        </div>
    </div>
    <div class="card col-md-12 my-1 mx-auto">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 z-depth-1 align-middle bg-opis">Temat</div>
                    <div class="col-md-10 z-depth-1 align-middle">{{ zgloszenia.temat_zgloszenia }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 z-depth-1 align-middle bg-opis">Opis</div>
                    <div class="col-md-10 z-depth-1 align-middle">{{ zgloszenia.opis_zgloszenia }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 z-depth-1 align-middle bg-opis">Data i czas zgloszenia</div>
                    <div class="col-md-4 z-depth-1 align-middle">{{ zgloszenia.data_zgloszenia }} {{ zgloszenia.czas_zgloszenia }}</div>
                    <div class="col-md-2 z-depth-1 align-middle bg-opis">Zgłaszający</div>
                    <div class="col-md-4 z-depth-1 align-middle">{{ zgloszenia.zglaszajacy }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 z-depth-1 align-middle bg-opis">Rodzaj usterki</div>
                    <div class="col-md-4 z-depth-1 align-middle">{{ zgloszenia.rodzaj_usterki }}</div>
                    <div class="col-md-2 z-depth-1 align-middle bg-opis">Maszyna</div>
                    <div class="col-md-4 z-depth-1 align-middle">{{ zgloszenia.urzadzenie }}</div>
                </div>
                {% if wyslij == 1 %}
                <div class="row">
                    <div class="col-md-12 z-depth-1 align-middle">
                        <form method="post" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="status_text" name="status" value=2>
                            <input type="hidden" id="data_otwarcia_text" name="data_otwarcia" value={{ data_otwarcia }}>
                            <input type="hidden" id="czas_otwarcia_text" name="czas_otwarcia" value={{ czas_otwarcia }}>
                            <button type="submit" class="btn btn-primary">Podejmij <i class="fas fa-save fa-lg"></i></button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}