{% extends 'serwis/base.html' %}
{% load bootstrap %}
{% block content %}

            <div class="row justify-content-md-center">
                <div class="col-xl-6 col-md-6">
                    <h5><strong>Zgłoszenie nr #{{ zgloszenia.id }}</strong></h5>
                    <hr class="red title-hr">
                    <div class="row">
                        <div class="col-md-2">Temat</div>
                        <div class="col-md-10">{{ zgloszenia.temat_zgloszenia }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Opis</div>
                        <div class="col-md-10">{{ zgloszenia.opis_zgloszenia }}</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <small><em>Rodzaj usterki</em></small>
                        </div>
                        <div class="col-md-4">
                            <small>{{ zgloszenia.rodzaj_usterki }}</small>
                        </div>
                        <div class="col-md-2">
                            <small><em>Maszyna</em></small>
                        </div>
                        <div class="col-md-4">
                            <small>{{ zgloszenia.urzadzenie }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12"><small><em>Data i czas zgloszenia</em></small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><small>{{ zgloszenia.data_zgloszenia }}<br />{{ zgloszenia.czas_zgloszenia }}</small></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12"><small><em>Zgłaszający</em></small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><small>{{ zgloszenia.zglaszajacy }}</small></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12"><small><em>Data i czas otwarcia</em></small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><small>
                                    {% if zgloszenia.status == 1 %}
                                    -- ---- ---- <br /> --:--
                                    {% else %}
                                    {{ zgloszenia.data_otwarcia }} <br />{{ zgloszenia.czas_otwarcia }}
                                    {% endif %}
                                </small></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12"><small><em>Serwisant</em></small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><small>{{ zgloszenia.serwisant }}</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Przyciski-->
                        {% if zgloszenia.status == 1 %}
                            <!--Serwisant - podjęcie działania-->
                            {% if serwisant == 1 %}
                            <div class="col-md-3">
                                <form method="post" role="form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" id="status_text" name="status" value=2>
                                    <input type="hidden" id="data_otwarcia_text" name="data_przekazana" value={{ data_przekazana }}>
                                    <input type="hidden" id="czas_otwarcia_text" name="czas_przekazany" value={{ czas_przekazany }}>
                                    <button type="submit" class="btn btn-outline-success waves-effect btn-sm" name="btn_form_podejmij">Podejmij <i class="fas fa-save fa-lg"></i></button>
                                </form>
                            </div>
                            {% endif %}
                            <!--/.Serwisant - koniec-->
                            <!--Właściciel - anulowanie zgłoszenia-->
                            {% if serwisant == 0 %}
                            <div class="col-md-3">
                                <a href="{% url 'anuluj_zgloszenie' zgloszenia.id %}" class="btn btn-outline-danger waves-effect btn-sm">Anuluj</a>
                            </div>
                            {% endif %}
                            <!--/.Właściciel - koniec-->
                        {% endif %}

                        {% if zgloszenia.status == 2 %}
                            <!--Serwisant - wykonanie zadania-->
                            {% if zgloszenia.serwisant|stringformat:"s" == user|stringformat:"s" %}
                                {% if serwisant == 1 %}
                                <div class="col-md-3">
                                    <form method="post" role="form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="status_text" name="status" value=4>
                                        <input type="hidden" id="data_otwarcia_text" name="data_przekazana" value={{ data_przekazana }}>
                                        <input type="hidden" id="czas_otwarcia_text" name="czas_przekazany" value={{ czas_przekazany }}>
                                        <button type="submit" class="btn btn-outline-primary waves-effect btn-sm" name="btn_form_wykonane">Wykonane <i class="fas fa-save fa-lg"></i></button>
                                    </form>
                                </div>
                                {% endif %}
                            {% endif %}
                            <!--/.Serwisant - koniec-->
                        {% endif %}
                        {% if zgloszenia.zglaszajacy|stringformat:"s" == user|stringformat:"s" %}
                            {% if zgloszenia.status == 2 %}
                                <!--serwisant - przeniesienie do grupy oczekujących zadań-->
                                {% if serwisant == 0 %}
                                <div class="col-md-3">
                                    <form method="post" role="form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="status_text" name="status" value=3>
                                        <button type="submit" class="btn btn-outline-danger waves-effect btn-sm" name="btn_form_wstrzymane">Wstrzymać <i class="fas fa-save fa-lg"></i></button>
                                    </form>
                                </div>
                                {% endif %}
                                <!--/.Serwisant - koniec-->
                                <!--Właściciel - Anulowanie zlecenia-->
                                {% if serwisant == 0 %}
                                <div class="col-md-3">
                                    <a href="{% url 'anuluj_zgloszenie' zgloszenia.id %}" class="btn btn-outline-danger waves-effect btn-sm">Anuluj</a>
                                </div>
                                {% endif %}
                            <!--/.Serwisant - koniec-->
                            {% endif %}
                            {% if zgloszenia.status == 3 %}
                                <!--Serwisant - podjęcie zadania które było oczekujące-->
                                {% if serwisant == 0 %}
                                <div class="col-md-3">
                                    <form method="post" role="form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="status_text" name="status" value=2>
                                        <button type="submit" class="btn btn-outline-success waves-effect btn-sm" name="btn_form_przywrocenie">Przywrócenie <i class="fas fa-save fa-lg"></i></button>
                                    </form>
                                </div>
                                {% endif %}
                                <!--/.Serwisant - koniec-->
                                <!--Właściciel - Anulowanie zlecenia-->
                                {% if serwisant == 0 %}
                                <div class="col-md-3">
                                    <a href="{% url 'anuluj_zgloszenie' zgloszenia.id %}" class="btn btn-outline-danger waves-effect btn-sm">Anuluj</a>
                                </div>
                                {% endif %}
                            <!--/.Serwisant - koniec-->
                            {% endif %}
                            {% if zgloszenia.status == 4 %}
                                {% if serwisant == 0 %}
                                <div class="col-md-3">
                                    <form method="post" role="form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="status_text" name="status" value=5>
                                        <input type="hidden" id="data_otwarcia_text" name="data_przekazana" value={{ data_przekazana }}>
                                        <input type="hidden" id="czas_otwarcia_text" name="czas_przekazany" value={{ czas_przekazany }}>
                                        <button type="submit" class="btn btn-outline-success waves-effect btn-sm" name="btn_form_zakonczenie">Zakończenie <i class="fas fa-save fa-lg"></i></button>
                                    </form>
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <br /><br />
            {% if zgloszenia.zglaszajacy|stringformat:"s" == user|stringformat:"s" or zgloszenia.serwisant|stringformat:"s" == user|stringformat:"s" %}
            <div class="row justify-content-md-center">
                <div class="col-xl-6 col-md-6">
                    <h5><strong>Zostaw wiadomość</strong></h5>
                    <hr class="red title-hr">
                    {% if zgloszenia.status == 2 or zgloszenia.status == 3 %}
                    <form method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="md-form md-outline">
                            <textarea id="textarea_tresc" class="md-textarea form-control" rows="5" cols="160" name="tresc"></textarea>
                            <label for="textarea_tresc">Działanie</label>
                        </div>
                        <input type="hidden" id="data_wpisu_text" name="data_wpisu" value={{ data_przekazana }}>
                        <input type="hidden" id="czas_wpisu_text" name="czas_wpisu" value={{ czas_przekazany }}>
                        <input type="hidden" id="zgloszenie_text" name="zgloszenie" value={{ zgloszenia.id }}>
                        <button type="submit" class="btn btn-outline-primary waves-effect btn-sm" name="btn_form_komentarz">Zapisz <i class="fas fa-save fa-lg"></i></button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <br />
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="col-xl-6 col-md-6">
                    <h5><strong>Wiadomości i komentarze</strong></h5>
                    <hr class="red title-hr">
                    {% for wpis in komentarze %}
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12 text-center"><small>Napisał</small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center"><small><strong><em><b>{{ wpis.autor }}</b></em></strong></small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center"><small>Data i czas wpisu</small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center"><small><em><strong><b>{{ wpis.data_wpisu }}<br />{{ wpis.czas_wpisu }}</b></strong></em></small></div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            {{ wpis.tresc }}
                        </div>
                    </div>
                    <br />
                    {% endfor %}
                </div>
            </div>

{% endblock content %}