input[type=checkbox] {
    margin-top: 35px;
}

.mdb-select {
    width: 100% !important;
}

.fixed-sn main {
    padding-top: 0rem;
}

.md-outline.select-wrapper+label {
top: .5em !important;
z-index: 2 !important;
}

/* -- kolory wypełnień -- */

.bg-opis {
    background-color: #3F729B;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}