input[type=checkbox] {
    margin-top: 35px;
}

.mdb-select {
    width: 100% !important;
}

.fixed-sn main {
    padding-top: 0rem;
}

.md-outline.select-wrapper+label {
top: .5em !important;
z-index: 2 !important;
}

/* -- kolory wypełnień -- */

.bg-opis {
    background-color: #3F729B;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.col-md-12.dystans, .col-md-6.dystans {
	margin-top: 25px;
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item.active {
  background-color: #37474F !important;
}